AddDefaultCharset UTF-8

Options -Indexes
Options +FollowSymLinks

DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /lession4
  RewriteCond %{REQUEST_URI} !/assets
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^detail/(\d*)$ index.php?route=index/detail&id=$1 [L]
  RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
</IfModule>